/* normalize */
body { margin: 0; position: relative;}

header {
  position: fixed;
  left: 0;
  bottom: 1em;
  padding-left: 10px;
  padding-bottom: 8px;
  background-color: white;

  transition: 1s;
  text-align: initial;
}

.terms {
  margin-top: 2em;
  font-size: 80%;
}

/* global styles */
video {
  background-color: #111;
  width: 240px;
  height: 180px;
  /* filter: blur(5px); */
}

h1.heading {
  margin-bottom: 0;
  text-align: center;
}

.note {
  text-align: center;
}

body>.container {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;

}

.sender {
  position: fixed;
  display: flex;
  left: 240px;
  right: 10px;
  bottom: 20px;
  margin: 0 auto;
}

.sender .local-text-wrapper {
  margin-right: 55px;
  flex: 1;
}

.sender textarea {
  flex: 1
}

/* room */
.room {
  margin: 0 8px;
}

.room .video-container {
  float: left;
  background-color: black;
  color: white;
}

.room .video-container.local-video .controls{
  text-align: right;
  padding: 2px 4px;
  font-size: 80%;
}

.room .video-container.local-video canvas{
  display: block;
}

.room .streams-container {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
}

.room .remote-streams {
  background-color: #f6fbff;
}

.room .remote-panel {
  position: relative;
}

.room .remote-panel .peer-id {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px 4px;
  text-align: right;
  font-size: 80%;
  background-color: rgba(0,0,0, 0.2);
  color: white;
}

.room .remote-panel .heading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 2px 4px;
  font-size: 80%;
  background-color: rgba(0,0,0, 0.2);
  color: white;
}

.room .remote-panel img {
  display: block;
  width: 180px;
  height: 135px;
}

.room .remote-panel .heading a{
  color: lightgreen;
}

.room .remote-panel.near .near-to {
  display: none;
}

.room .remote-panel.near img {
  filter: blur(0px);
}

.room .remote-panel.far .far-from {
  display: none;
}

.room .remote-panel.far img {
  filter: blur(3px);
}

.messages-container {
  display: flex;
  margin-left: 240px;
  min-height: 100vh;
  padding-right: 10px;
}

.messages {
  list-style: none;
  width: 100%;
  margin-top: auto;
  background-color: #eee;
  padding: 8px;
  margin-bottom: 53px;
}

body.left .leave-trigger {
  display: none;
}

body.left #js-room-id {
  pointer-events: initial;
  opacity: 1;
}

body.left .join-trigger {
  display: initial;
}

body.joining .leave-trigger {
  display: none;
}

.join-trigger {
  display: none;
}

.leave-trigger {
  display: initial;
}

#js-room-id {
  pointer-events: none;
  opacity: 0.5;
}

body.left .sender {
  display: none;
}

body.left header {
  padding: 10px 40px 35px;
  box-shadow: 1px 1px 2px;
  text-align: center;

  left: 50%;
  top: 50%;
  bottom: auto;
  height: auto;

  transform: translate3d(-50%, -50%, 0);
}

body.booting label.enable-video {
  pointer-events: none;
  opacity: 0.5;
}

body.stopping label.enable-video {
  pointer-events: none;
  opacity: 0.5;
}

body.without-my-face label.enable-video {
  pointer-events: none;
  opacity: 0.5;
}
