/* normalize */
body { margin: 0; position: relative;}

header {
  position: fixed;
  left: 0;
  bottom: 1em;
  padding-left: 10px;
  padding-bottom: 8px;
}

/* global styles */
video {
  background-color: #111;
  width: 240px;
  height: 180px;
  /* filter: blur(5px); */
}

.heading {
  margin-bottom: 0;
}

.note {
  text-align: center;
}

body>.container {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;

}

.sender {
  position: fixed;
  left: 240px;
  right: 0;
  bottom: 20px;
  margin: 0 auto;
}

.sender .local-text-wrapper {
  margin-right: 55px;
}

.sender textarea {
  width: 100%;
}

.sender button {
  position: absolute;
  right: 10px;
  top: 0;
}

/* room */
.room {
  margin: 0 8px;
}

.room .video-container {
  float: left;
  background-color: black;
  color: white;
}

.room .video-container .controls{
  text-align: right;
  padding: 2px 4px;
}

.room .streams-container {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
}

.room .remote-streams {
  background-color: #f6fbff;
}

.room .remote-panel {
  position: relative;
}

.room .remote-panel .peer-id {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px 4px;
  text-align: right;
  font-size: 80%;
  background-color: rgba(0,0,0, 0.2);
  color: white;
}

.room .remote-panel .heading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 2px 4px;
  font-size: 80%;
  background-color: rgba(0,0,0, 0.2);
  color: white;
}

.room .remote-panel img {
  width: 180px;
  height: 135px;
}

.room .remote-panel .heading a{
  color: lightgreen;
}

.room .remote-panel.near .near-to {
  display: none;
}

.room .remote-panel.far .far-from {
  display: none;
}



.messages-container {
  position: absolute;
  top: 0;
  bottom: 50px;
  right: 0;
  left: 240px;
}

.messages {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eee;
  padding: 8px;
}

body.left .leave-trigger {
  display: none;
}

body.left #js-room-id {
  pointer-events: initial;
  opacity: 1;
}

body.left .join-trigger {
  display: initial;
}

body.joining .leave-trigger {
  display: none;
}

.join-trigger {
  display: none;
}

.leave-trigger {
  display: initial;
}

#js-room-id {
  pointer-events: none;
  opacity: 0.5;
}

body.left .sender {
  display: none;
}