/* normalize */
body { margin: 0; position: relative;}

header {
  position: fixed;
  left: 0;
  bottom: 1em;
  padding-left: 10px;
  padding-bottom: 8px;
}

/* global styles */
video {
  background-color: #111;
  width: 240px;
  height: 180px;
}

.heading {
  margin-bottom: 0;
}

.note {
  text-align: center;
}

body>.container {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;

}

.sender {
  position: fixed;
  left: 240px;
  bottom: 0;
  margin: 0 auto;
  max-width: 980px;
}

/* room */
.room {
  margin: 0 8px;
}

.room .video-container {
  float: left;
}

.room .streams-container {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
}

.room .remote-streams {
  background-color: #f6fbff;
}

.messages-container {
  position: absolute;
  top: 0;
  bottom: 1em;
  right: 0;
  left: 240px;
}

.messages {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eee;
  padding: 8px;
}

body.left .leave-trigger {
  display: none;
}

body.left #js-room-id {
  pointer-events: initial;
  opacity: 1;
}

body.left .join-trigger {
  display: initial;
}

body.joining .leave-trigger {
  display: none;
}

.join-trigger {
  display: none;
}

.leave-trigger {
  display: initial;
}

#js-room-id {
  pointer-events: none;
  opacity: 0.5;
}